{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-5">
    <h1>Nouvel auteur</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

